.App{
  background-color: white;
  margin-left: 60px;
  margin-right: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: row;
}
