body {
  margin: 0 100px 0 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color:ghostwhite;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
