.sidenav-container {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
}

.content-header {
    color:gray;
    margin-bottom: -10px;
}

.hide {
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: blue;
}

hr {
    width: 100%;
    background-color: lightgray;
    height: 1px;
    width: 100%;
    border: 0;
    left: 0;
}

.contents {
    display: flex;
    flex-direction: column;
    line-height: 180%;
}

a {
    text-decoration: none;
}